html, body, div, table, th, tbody, thead {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}

a:link, a:visited {
    color: #1b4fd3;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    background-color: #b6b6b6 
}

.imgstyle:hover {
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0)
}

.dapgray {
    background-color: #c4b9b9
}

.dapred {
    background-color: #e4492a
}

.daporange {
    background-color: #fdbb50
}

.dapyellow {
    background-color: #fede88
}

.boldtext {
	font-weight: 700;
}

.medtext {
    font-weight: 500;
}

.lighttext {
    font-weight: 300;
}

.fakelink {
    color: #1b4fd3;
    text-decoration: none;
    font-weight: 400;
}

.fakelink:hover {
    background-color: #b6b6b6 
    
}


/* .shadow {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
} */
