html, body, div, table, th, tbody, thead {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}

h1, h2, h3, h4 {
    font-weight:500;
}

table {
    border-spacing: 0;
    padding: 1px;
}

a:link, a:visited {
    color: #1b4fd3;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    background-color: #b6b6b6 
}

.imgstyle:hover {
    background-color:rgba(0, 0, 0, 0)
}

.dapgray {
    background-color: #c4b9b9
}

.dapred {
    background-color: #e4492a;
    -webkit-print-color-adjust: exact;
}

.daporange {
    background-color: #fdbb50;
    -webkit-print-color-adjust: exact;
    
}

.dapyellow {
    background-color: #fede88;
    -webkit-print-color-adjust: exact;
    
}

.highlight {
    background-color: #e9dbb9
}

.boldtext {
	font-weight: 700;
}

.medtext {
    font-weight: 500;
}

.lighttext {
    font-weight: 300;
}

.center {
    text-align: center;
}

.risks {
    max-width: 340px;
    width:100%
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .panel {display: block !important;}
    .no-screen {}
    html, body, div, table, th, tbody, thead {
        font-family: 'Montserrat', sans-serif;
        font-weight:400;
        font-size: 0.75rem !important;
    }
    a:link, a:visited {
        color: black;
        text-decoration: none;
        font-weight: 400;
    }
    
}

@media screen
{
    .no-print{}
    .no-screen{display:none;}
    .panel{display:none;}
}

.accordion {
    cursor: pointer;
    transition: 0.1s;
}

 .accordion:hover {
    background-color: #c4b9b9
}

/* .f6 {
    font-size: 30px;
} */
/* 
@media(min-width:60){
    .f6 {
        font-size: 30px !important;
    }
} */

/* p{color:green;} */


.f4, .f5, .f6, .f7 {
    font-size: 120%;
}

@media(min-width:320px){
    .f6 {
        font-size: 100%;
    }
