doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,regular,medium,semi-bold,bold, extra-bold, black" rel="stylesheet") 
    link(rel='stylesheet' href='./tachyons.css')
    link(rel='stylesheet' href='./styles.css')
  body
    div.title.tc.fl.w-100.pt2.white.dapgray.mb3
      img.w-30(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/dapdrlogo.png')
    div.f5.pl4.black-70
      p
        span.highlight Tenant organizers have limited time and capacity, and ANHD produces DAP District Reports 
          | to help them prioritize outreach. The reports give monthly updates on displacement risk to 
          | stabilized tenants in the neighborhoods where organizers work.
      p DAP District Reports provide a list of rent stabilized buildings by Community Board where tenants may be at risk of harassment and displacement. Risk is indicated by new 
        span.black property sales
        span , 
        span.black HPD complaints
        span , 
        span.black HPD violations
        span , 
        span.black DOB complaints
        span , and 
        span.black DOB construction permit applications. 
      p Buildings that appear on multiple lists are coded 
        span.dapyellow.black.ph1 yellow
        span , 
        span.daporange.black.ph1 orange
        span , or 
        span.dapred.white.ph1.lighttext red
        span , depending on the level of risk.
    for boro in districts
      div.fl.w-100.ph4
        h2.f3.black #{boro[0]} 
        for district in boro[1]
          div.fl.mb3.links.w-90
            a(href=`${district.cd}.html`) 
              span.black-90 #{district.name}: 
              | #{district.neighborhoods}
    div.fl.w-100.bg-black-10.f6.pl4
      div.pr3.pt3.lighttext
        span The 
        a(href='http://www.anhd.org', target='_blank') Association for Neighborhood and Housing Development
        span  produces these District Reports and 
        a(href='http://map.dapmapnyc.org/app', target='_blank') DAP Map
        span  as part of the 
        a(href='http://www.dapmapnyc.org', target='_blank') Displacement Alert Project
        span . Email 
        a(href='mailto:lucy.b@anhd.org') lucy.b@anhd.org
        span  with feedback or questions. 
      table
        thead
          tr
            th.pv3.black.lighttext
              span Made possible by support from
            th
              img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/fordlogo.png')
            th.pv3.black.lighttext.pl1
              span and 
                a(href='https://github.com/aepyornis/nyc-db' target='_blank') Ziggy (github.com/aepyornis)
                span .
