html, body, div, table, th, tbody, thead {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
}


table {
    border-spacing: 0;
    padding: 1px;
    
}

th, td {
    padding: 1px 4px 1px 4px;
    font-size: .875rem;
}

h1 {
    margin: 0;
}

.map {
    max-width: 310px !important;
    min-width: 260px !important;
    padding-bottom: 1rem !important;
}

.pageintro {
    min-width: 500px;
    flex: 100%;
}

.key {
    display: inline-block;
    min-width: 240px;
}

.credits {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}


a, a:link, a:visited {
    color: #1c48ae;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    background-color: #c4b9b9; 
    text-decoration: none !important;
}

a.light, a.light:hover {
    font-weight: 300;
    text-decoration: none;    
}


.btn-sm {
    box-shadow: none !important;
    width: 138px !important;
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 0.8) !important;
    color: black !important;
    border-radius: .5rem !important;
    border: 0px !important;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.dropdown-menu {
    width: 140px !important;
    min-width: 0px !important;
    padding: 0px !important;
    margin: 0px !important;    
    border: 2px !important;
    border-color: rgba(220, 220, 220, 0.8) !important;
    border-radius: .5rem !important;
    border-color: rgba(220, 220, 220, 0.8) !important;
}

.item {
    border: 1px !important;
    border-radius: .5rem !important;

}

.item:hover {
    background-color: rgba(220, 220, 220, 0.5) !important;
}

.imgstyle:hover {
    background-color:rgba(0, 0, 0, 0)
}

.daplogo {
    width: 300px;
    padding-left: 0px;
}

.toggles {
    margin-right: 0rem;
    margin-bottom: .5rem;
    float: right;
    background-color: rgba(0,0,0,.08);
    text-decoration: none;
    line-height: 1;
    /* padding-top: .25rem;
    padding-bottom: .25rem; */
}

a.togfill, a.togfill:hover {
    color: black;
    font-weight: 300;
    text-decoration: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    /* padding-left: .5rem;
    padding-right: .5rem; */
    font-weight: 400;
}

div.togmid {
    margin-right: 0rem;
    margin-bottom: .5rem;
    /* padding-right: .25rem;
    padding-left: .25rem;
    padding-top: .25rem;
    padding-bottom: .25rem; */
    float: right;
    background-color: rgba(0,0,0,.08);
    text-decoration: none;
    line-height: 1;
    cursor: default;
}

span.togmid {
    font-size: 1.5rem;
    font-weight: 100;
 
}


.toggles:hover {
    background-color: #c4b9b9
}


/**** Navbar CSS (from DAP Map) ****/

.navbar { 
    display: block; 
    background-color: black;
    height: 37px;
    padding: 0rem !important;
}

.navbar > .container-nav {
  width: 100%; 
  max-width: 950px;
  position: relative;
  margin: 0 auto;
  display: relative;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0; 
  padding-left: 0rem !important;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0; 
}

.navbar-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: lighter;
  font-family: helvetica, sans-serif;
  margin: 0 17px;
  text-decoration: none;
  line-height: 44px;
  color: #969696 !important;
  transition: color 0.4s ease 0s;
}

.navbar-link:hover {
  color: #ff6601 !important;
  transition: color 0.4s ease 0s;
  background-color: transparent;  
}

.navbar-link.active {
  color: #FDAF7E !important; 
}

.navbar-link.active::after {
    content: "" !important;
}

/* Dropdown Button */
.dropbtn {    
    border: none;
    cursor: pointer;
    height: 40px;
    background-color: black;
    padding: 0;
    text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    padding: 2px 10px;
    overflow: hidden;
    white-space: nowrap;
}

/* Links inside the dropdown */
.dropdown-content a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
    text-decoration: none;
    color: #969696;
    transition: color 0.4s ease 0s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #fff;
    font-weight: 300;
    color: #ff6601;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #ff6601 !important;
    transition: color 0.4s ease 0s;
    background-color: transparent;  
}

a.dropdown, a.dropdown:hover {
    color: black;
    font-weight: 300;
    text-decoration: none;
    background-color: transparent;
    font-size: 0.875rem;
    width: 100%;
    height: 100%;
    padding: .25rem;
}

/* Make dropdown scrollable */

ul.drop {
    max-height:150px; 
    overflow-x:hidden; 
    overflow-y:auto; 
 }



/* Colors and font weights */

.dapgray {
    background-color: #c4b9b9
}

.dapred {
    background-color: #e4492a;
    -webkit-print-color-adjust: exact;
}

.daporange {
    background-color: #fdad2d;
    -webkit-print-color-adjust: exact;
    
}

.dapyellow {
    background-color: #fae0a0;
    -webkit-print-color-adjust: exact;
    
}

.highlight {
    background-color: #e9dbb9
}

.boldtext {
	font-weight: 700;
}

.medtext {
    font-weight: 500;
}

.lighttext {
    font-weight: 300;
}

/* Text sections */

.section {
    float: left;
    width: 100%;
    margin-bottom: .75rem;
    background-color: rgba(0,0,0,.1)
}

.intro {
    padding: 1rem 2rem 0rem 2rem;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1.25;
}

.desc {
    font-weight: 300;
    font-size: .875rem;
    text-align: left;
    margin-top: .5rem;
    margin-bottom: 1rem;
    line-height: 1.25;
}

.toplink {
    float: left;
    width: 100%;
    text-align: left;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
}

.none {
    font-size: .875rem;
    font-weight: 300;
    font-style: italic;
}



@media print
{    
    .accordion:after, .no-print, .no-print *
    {
        display: none !important;
    }
    .panel {
        display: block !important;
        padding-top: 0 !important;
    }

    .no-screen {}

    html, body, div, table, th, tbody, thead {
        font-family: 'Montserrat', sans-serif;
        font-weight:400;
        font-size: 0.875rem !important;
    }

    a:link, a:visited {
        color: black;
        text-decoration: none;
        font-weight: 400;
    }

    .printintro {
        max-width: 400px !important;
        min-width: 400px !important;
    }

    .accordion {
        color: black !important;
        font-size: 1.25rem !important;
        padding-left: 2rem !important;
        padding-bottom: 0 !important;
    }

    .daplogo {
        width: 200px !important;
    }

    .title {
        font-size: 1.5rem !important;
    }

    .nhoods {
        font-size: 1.25rem !important;
    }

    .brdr {
        border-bottom: 3px solid rgb(100, 100, 100);
    }

}

@media screen
{
    .no-print{}
    .no-screen{display:none;}
    .panel{display:none;}
}

.accordion {
    cursor: pointer;
    transition: 0.1s;
    font-size: 1.125rem;
    padding: 8px 32px 8px 32px;
}


.panel {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: .5rem;

}

.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 26px;
    font-weight: 500;
    color: rgb(74, 74, 74);
    float: right;
    margin-left: 5px;
    margin-top: -5px;
}

.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}

 .accordion:hover {
    background-color: #c4b9b9
    
}

@media
only screen and (max-width: 600px) {
    .navbar {
        display: none !important;
    }

    .mobilehide {
        display: none !important;
    }
}

@media
only screen and (max-width: 500px) {
    .pageintro {
        min-width: 280px;
    }
}

@media
only screen and (min-width: 1000px) {
    .pageintro {
        min-width: 700px;
    }
}

@media 
only screen and (max-width: 718px),
(min-device-width: 718px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table.tab, table.tab thead, table.tab tbody, table.tab th, table.tab td, table.tab tr { 
        display: block; 
        text-align: left !important; 
        
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	/* tr { border: 1px solid #ccc; } */
	
	table.tab td { 
		/* Behave  like a "row" */
		position: relative;
        padding-left: 100px; 
        hyphens: auto;
        word-wrap: break-word;        
        min-height: 24px;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		/* top: 6px; */
		left: 6px;
		max-width: auto; 
        padding-right: 5px;
        hyphens: auto;
        word-wrap: break-word; 
        font-size: .875rem;
        vertical-align: top;        
    }

    th {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    table.tab tr {
        border-top: 6px solid #e5e5e5;
        padding-top: 8px;
        padding-bottom: 8px;

    }

    	/*
	Label the data
	*/
	td.sales:nth-of-type(1):before { content: "BBL"; }
    td.sales:nth-of-type(2):before { content: "Address"; }
    td.sales:nth-of-type(3):before { content: "Zip"; }
	td.sales:nth-of-type(4):before { content: "Total Units"; }
    td.sales:nth-of-type(5):before { content: "Stab. ('07)"; }
    td.sales:nth-of-type(6):before { content: "Stab. ('16)"; }
	td.sales:nth-of-type(7):before { content: "Sale Price"; }
	td.sales:nth-of-type(8):before { content: "$ / Sq Ft"; }
	td.sales:nth-of-type(9):before { content: "Sale Date"; }
	td.sales:nth-of-type(10):before { content: "Owner"; }
	td.sales:nth-of-type(11):before { content: "Links"; }

	td.hpdcomplaints:nth-of-type(1):before { content: "BBL"; }
    td.hpdcomplaints:nth-of-type(2):before { content: "Address"; }
    td.hpdcomplaints:nth-of-type(3):before { content: "Zip"; }    
	td.hpdcomplaints:nth-of-type(4):before { content: "Total Units"; }
    td.hpdcomplaints:nth-of-type(5):before { content: "Stab. ('07')"; }
    td.hpdcomplaints:nth-of-type(6):before { content: "Stab. ('16')"; }
	td.hpdcomplaints:nth-of-type(7):before { content: "Complaints"; }
	td.hpdcomplaints:nth-of-type(8):before { content: "Owner"; }
	td.hpdcomplaints:nth-of-type(9):before { content: "Links"; }

	td.hpdviols:nth-of-type(1):before { content: "BBL"; }
    td.hpdviols:nth-of-type(2):before { content: "Address"; }
	td.hpdviols:nth-of-type(3):before { content: "Zip"; }    
	td.hpdviols:nth-of-type(4):before { content: "Total Units"; }
    td.hpdviols:nth-of-type(5):before { content: "Stab. ('07)"; }
    td.hpdviols:nth-of-type(6):before { content: "Stab. ('16)"; }
	td.hpdviols:nth-of-type(7):before { content: "Class A"; }
	td.hpdviols:nth-of-type(8):before { content: "Class B"; }
	td.hpdviols:nth-of-type(9):before { content: "Class C"; }
	td.hpdviols:nth-of-type(10):before { content: "Total"; }
	td.hpdviols:nth-of-type(11):before { content: "Owner"; }
	td.hpdviols:nth-of-type(12):before { content: "Links"; }
    
    td.dobcomplaints:nth-of-type(1):before { content: "BBL"; }
    td.dobcomplaints:nth-of-type(2):before { content: "Address"; }
	td.dobcomplaints:nth-of-type(3):before { content: "Zip"; }    
	td.dobcomplaints:nth-of-type(4):before { content: "Total Units"; }
    td.dobcomplaints:nth-of-type(5):before { content: "Stab. ('07)"; }
    td.dobcomplaints:nth-of-type(6):before { content: "Stab. ('16)"; }
	td.dobcomplaints:nth-of-type(7):before { content: "Complaints"; }
	td.dobcomplaints:nth-of-type(8):before { content: "Owner"; }
	td.dobcomplaints:nth-of-type(9):before { content: "Links"; }

	td.dobjobs:nth-of-type(1):before { content: "BBL"; }
    td.dobjobs:nth-of-type(2):before { content: "Address"; }
	td.dobjobs:nth-of-type(3):before { content: "Zip"; }    
	td.dobjobs:nth-of-type(4):before { content: "Total Units"; }
    td.dobjobs:nth-of-type(5):before { content: "Stab. ('07)"; }
    td.dobjobs:nth-of-type(6):before { content: "Stab. ('16)"; }
	td.dobjobs:nth-of-type(7):before { content: "Alt 1"; }
	td.dobjobs:nth-of-type(8):before { content: "Alt 2"; }
	td.dobjobs:nth-of-type(9):before { content: "DM"; }
	td.dobjobs:nth-of-type(10):before { content: "Owner"; }
	td.dobjobs:nth-of-type(11):before { content: "Links"; }




}

/* Google custom search */


div.gsc-control-cse {
    padding: 5px 5px 5px 5px !important;
    border: 0 !important;
}

form.gsc-search-box {
    margin: 0px !important;
}

/* Not needed?
 table.gsc-search-box {
    border-collapse: initial !important;
} */

/* input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-box .gsc-input>input:focus, .gsc-input-box-focus {
    box-shadow: none !important;
    border: none !important;
}

span.gcsc-branding-text {
    display: none !important;
}

td#gs_tti50 {
    color: white !important;
}

div.gcsc-branding {
    display: none !important;
}

div.gsc-above-wrapper-area {
    display: none !important;
}

.gsc-results-wrapper-overlay {
    height: 50% !important;
    box-shadow: none !important;
} */